{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about_forniture-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Acerca desta página</h1>
          <span class="subheading">Qual é a finalidade desta página?</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Esta página foi concebida como um blogue de anúncios, onde todos os membros que o desejem podem anunciar os produtos que pretendem oferecer nos mercados Ğ1, mas que, por qualquer razão, não os transportam habitualmente.
        </p>
        <p>
          Nas entradas do blogue serão fornecidos os meios de contacto para as pessoas interessadas em adquirir os produtos mencionados.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
