{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/donativos-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Donativos</h1>
<!--          <span class="subheading">Qual é a finalidade desta página?</span>-->
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Utilizando a seguinte chave pública, pode fazer um donativo a 3 MERCADOS Ğ1 CASTELO BRANCO utilizando a sua aplicação Cesium:
        </p>
        <p align="center">
          <code>3Vuxt3HVS193PeYbMogK8HKq5LMUbJiryvMQSySEaJwy:JAM</code>
        </p>
        <p>
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
